<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomTable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DD694771CEC50BB00E3D787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DD6948B1CEC50BB00E3D787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DD694961CEC50BC00E3D787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
